In [12]:
import pandas as pd

df = pd.read_parquet("../../exported-files/agirlik_takibi.parquet")

In [13]:
df.head()

,created time,hareketin_ismi,max_agirlik,max_tekrar,summary
0,2023-11-16 17:05:00+00:00,Dumbbell Row,45.0,10,45☠ | 10
1,2023-11-16 16:58:00+00:00,Plate Loaded Wide Grip Machine Row,100.0,6,100☠ | 6
2,2023-11-16 16:31:00+00:00,Over Head Press,70.0,5,70☠ | 5
3,2023-11-16 16:18:00+00:00,Machine Dips,10.0,8,10☠ | 8
4,2023-11-16 16:14:00+00:00,Incline Dumbbell Chest Press,60.0,6,60☠ | 6

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   created time    100 non-null    datetime64[ns, UTC]
 1   hareketin_ismi  100 non-null    object
 2   max_agirlik     100 non-null    float64
 3   max_tekrar      100 non-null    int64
 4   summary         100 non-null    object
dtypes: datetime64[ns, UTC](1), float64(1), int64(1), object(2)
memory usage: 4.0+ KB

In [15]:
df['date'] = df['created time'].dt.date

In [16]:
df.head(2)

,created time,hareketin_ismi,max_agirlik,max_tekrar,summary,date
0,2023-11-16 17:05:00+00:00,Dumbbell Row,45.0,10,45☠ | 10,2023-11-16
1,2023-11-16 16:58:00+00:00,Plate Loaded Wide Grip Machine Row,100.0,6,100☠ | 6,2023-11-16

In [17]:
df['score'] = df['max_agirlik'] * df['max_tekrar']

In [18]:
df.head(2)

,created time,hareketin_ismi,max_agirlik,max_tekrar,summary,date,score
0,2023-11-16 17:05:00+00:00,Dumbbell Row,45.0,10,45☠ | 10,2023-11-16,450.0
1,2023-11-16 16:58:00+00:00,Plate Loaded Wide Grip Machine Row,100.0,6,100☠ | 6,2023-11-16,600.0

In [19]:
temp = df[['date', 'max_agirlik', 'max_tekrar', 'score']]

In [20]:
temp.head(2)

         date  max_agirlik  max_tekrar  score
0  2023-11-16         45.0          10  450.0
1  2023-11-16        100.0           6  600.0

In [21]:
def extractor(df):
    temp = df.copy()
    temp['created time'] = pd.to_datetime(temp['created time'])

    temp['date'] = temp['created time'].dt.strftime('%d-%m-%Y')
    temp['score'] = temp['max_agirlik'] * temp['max_tekrar']

    temp = temp[['date', 'max_agirlik', 'max_tekrar', 'score', 'hareketin_ismi']]

    return temp

In [22]:
extractor(df).to_parquet("extracted.parquet", index=True)